body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px black solid;
    padding: 40px;
    border-radius: 10%;
    width: fit-content;
    height: fit-content;
}

img{
    object-fit: cover;
    align-self: center;
}

h1, p{
    font-size: 25px;
    font-weight: bold;
}

ul{
    font-size: 15px;
    align-self: center;
    padding-inline-start: 0px;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    height: 100%;
}

.gallery > div{
    transform: scale(0.7);
    margin: -10px;
}

